@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Montserrat:ital,wght@1,600&family=Nunito+Sans:opsz,wght@6..12,600&display=swap');

#root {
box-sizing: border-box;
margin: 0 auto;
padding: 0;
}


.navigation {
  background-color:#01000F;
  list-style: none;
  min-width: 100%;
  height:100px;
  margin:0;
  padding:0;
}

.nav-list {
  display: flex;
  position:absolute;
  left:30px;
  top:20px;
}

.list-items {
  padding:1em;
  position:relative;
  left:450px;
}

 .link {
  color:#fff;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8em;
  cursor: pointer;
}

.link:hover {
  background-color: #ffc76d;
  border-radius: 8px;
}

.title {
  color:#fff;
  position:relative;
  bottom:100px;
}

.logo {
  position: absolute;
  left:100px;
  top:25px;
}

.description {
  width:280px;
  display: block;
  color:rgb(250, 250, 250);
  position:relative;
  top:75px;
  left:85px;
  font-family: 'Montserrat', sans-serif;
}


.Grid {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px;
  grid-row: 1/;
  outline: 4px solid black;
  align-items: center;
}

